.nav {
  width: 100%;
  position: sticky;
  top: 0;
  border: none;
  z-index: 1;
  border-radius: unset;
  box-shadow: 0 5px 2px 0 rgb(0 0 0 / 30%);
}
.nav-header {
  vertical-align: unset;
  letter-spacing: 4px;
}
.list-item {
  border: none;
}
.list-item:hover {
  background-color: unset;
}
.nav-link:hover {
  font-size: 1rem;
  font-weight: bold;
  color: var(--theme-color);
}
@media screen and (max-width: 768px) {
  .nav-list {
    display: none !important;
  }
}
