@import url("./Utils/utilities.css");

:root {
  --bg-color: rgb(20, 20, 20);
  --theme-color: #ff523b;
  --txt-gray: hsla(0, 0%, 100%, 0.75);
  --txt-white: #fff;
  --bg-gradient: linear-gradient(rgb(10, 10, 10), grey);
}

.App {
  height: 100vh;
}
* {
  color: var(--txt-white);
}
body {
  background-color: var(--bg-color);
  color: var(--txt-white);
}
.main-container {
  min-height: 80vh;
}
.videos-list {
  flex-wrap: wrap;
  gap: 1.3rem;
  margin-bottom: 5rem;
}
.video-card {
  align-items: start;
  gap: 5px;
}
.link-no-style {
  text-decoration: none;
  color: unset;
}
input::placeholder {
  color: var(--txt-gray);
}
.empty-videos {
  position: absolute;
  top: 40%;
  left: 30%;
  font-weight: bold;
  font-size: 1.7rem;
}
.selected-icon {
  color: rgb(227 127 127 / 82%);
}
.trash-icon {
  margin-right: 0.7rem;
  margin-bottom: 4px;
  font-size: 1.3rem;
}
.trash-container {
  width: 100%;
}
.video-grid-container > .pos-relative {
  min-height: 80vh;
}

/* for heading with highlighted underline */
.title {
  margin: 5rem;
  position: relative;
  line-height: 3.3rem;
}
.title::after {
  content: "";
  background: var(--theme-color);
  width: 7rem;
  height: 6px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* overriding style from component library */
.card {
  padding: 0;
  box-shadow: 0 0 5px var(--txt-white);
  background-color: unset;
  border: none;
}
.card-img {
  height: 25vh;
}
.footer {
  background-color: var(--bg-color);
  box-shadow: 0 -2px 5px -3px var(--grey);
}
.btn {
  display: inline-block;
  margin-top: 1.5rem;
  border: none;
}

/* body scrollbar */
body::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--bg-color), var(--txt-gray));
  border-radius: 8px;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
