.section-login {
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.form-container {
  padding: 1rem 2rem;
  box-shadow: 0 0 8px var(--white);
  justify-content: space-between;
}
.form-container .title {
  margin: unset;
}

.section-login .form-container {
  min-height: 50vh;
}
.section-login .btn {
  width: 100%;
}
.input-box {
  margin: 1.3rem 0;
}

.form-container .txt-input {
  padding: 0.6rem;
  width: 20rem;
  background-color: var(--bg-color);
  color: var(--txt-white);
  box-shadow: 0 0 5px var(--txt-white);
}
.txt-icon {
  padding-top: 9px;
  font-size: 1.2rem;
  padding-right: 10px;
}

.login-txt {
  margin-top: 0.8rem;
}
